

/*
div{
	border: 1px solid yellow;
}*/

/*
.content{
	color:white;
	text-align: center;
}

.red {
	background: red;
	height: 100px;
}

.blue{
 background: blue;
 height: 100px;
} 
*/

body {
	padding-top: 70px;
	background-color: #dee1ec;
 }

.jumbotron {

	color: #0b8457;
	/* color: #2c3e50; */
	background: #eac100;
	padding: 10px;

}

.navbar-inverse {
	background: #10316b;
	color:  white;
}

.navbar-inverse .navbar-brand, .navbar-inverse a{
	color:  white;;
}

.navbar-inverse .navbar-nav>li>a {
	color:  white;
}

/*
img {
	width: 100%;
}

div {
	border: 1px solid #0b8457;
	height: 100px;
}
*/

.thumbnail {
	border: 1px solid  #0b8457;
}
